<section id="faq">
  <div class="container faq-container">
    <p class="faq-title-main">FAQ</p>

    <div class="faq-content">
      <div class="faq-questions-content">
        <p class="faq-title-text">Quick Answers</p>

        <ul class="faq-list">
          <li class="faq-item" data-faq-item>
            <button
              class="faq-question"
              type="button"
              aria-label="View answear for the question"
              data-faq-trigger
            >
              <p class="faq-question-text">
                Is Match Delivery Triple Match 3D easy to learn?
              </p>
              <svg
                class="faq-question-icon-to-open"
                width="48"
                height="48"
                data-to-open
              >
                <use href="{=$faq-plus}"></use>
              </svg>
              <svg
                class="faq-question-icon-to-close"
                data-visible="close"
                width="48"
                height="48"
                data-to-close
              >
                <use href="{=$faq-minus}"></use>
              </svg>
            </button>

            <div class="faq-answear" data-faq-answear data-visible="close">
              <p class="faq-answear-text">
                Yes. The controls are simple, intuitive, and beginner-friendly.
              </p>
            </div>
          </li>
          <li class="faq-item" data-faq-item>
            <button
              class="faq-question"
              type="button"
              aria-label="View answear for the question"
              data-faq-trigger
            >
              <p class="faq-question-text">Does the game include boosters?</p>
              <svg
                class="faq-question-icon-to-open"
                data-to-open
                width="48"
                height="48"
              >
                <use href="{=$faq-plus}"></use>
              </svg>
              <svg
                class="faq-question-icon-to-close"
                data-visible="close"
                data-to-close
                width="48"
                height="48"
              >
                <use href="{=$faq-minus}"></use>
              </svg>
            </button>

            <div class="faq-answear" data-faq-answear data-visible="close">
              <p class="faq-answear-text">
                Yes. Players can use hints and special support tools to overcome
                difficult levels.
              </p>
            </div>
          </li>
          <li class="faq-item" data-faq-item>
            <button
              class="faq-question"
              type="button"
              aria-label="View answear for the question"
              data-faq-trigger
            >
              <p class="faq-question-text">
                Are there different object themes?
              </p>
              <svg
                class="faq-question-icon-to-open"
                data-to-open
                width="48"
                height="48"
              >
                <use href="{=$faq-plus}"></use>
              </svg>
              <svg
                class="faq-question-icon-to-close"
                data-visible="close"
                data-to-close
                width="48"
                height="48"
              >
                <use href="{=$faq-minus}"></use>
              </svg>
            </button>

            <div class="faq-answear" data-faq-answear data-visible="close">
              <p class="faq-answear-text">
                Yes. New item collections and categories unlock as you progress.
              </p>
            </div>
          </li>
          <li class="faq-item" data-faq-item>
            <button
              class="faq-question"
              type="button"
              aria-label="View answear for the question"
              data-faq-trigger
            >
              <p class="faq-question-text">What style does the game follow?</p>
              <svg
                class="faq-question-icon-to-open"
                data-to-open
                width="48"
                height="48"
              >
                <use href="{=$faq-plus}"></use>
              </svg>
              <svg
                class="faq-question-icon-to-close"
                data-visible="close"
                data-to-close
                width="48"
                height="48"
              >
                <use href="{=$faq-minus}"></use>
              </svg>
            </button>

            <div class="faq-answear" data-faq-answear data-visible="close">
              <p class="faq-answear-text">
                A colorful, modern, and visually organized puzzle experience.
              </p>
            </div>
          </li>
          <li class="faq-item" data-faq-item>
            <button
              class="faq-question"
              type="button"
              aria-label="View answear for the question"
              data-faq-trigger
            >
              <p class="faq-question-text">
                Is the gameplay relaxing or competitive?
              </p>
              <svg
                class="faq-question-icon-to-open"
                data-to-open
                width="48"
                height="48"
              >
                <use href="{=$faq-plus}"></use>
              </svg>
              <svg
                class="faq-question-icon-to-close"
                data-visible="close"
                data-to-close
                width="48"
                height="48"
              >
                <use href="{=$faq-minus}"></use>
              </svg>
            </button>

            <div class="faq-answear" data-faq-answear data-visible="close">
              <p class="faq-answear-text">
                The game focuses on relaxation, satisfying progression, and
                stress-free puzzle solving.
              </p>
            </div>
          </li>
        </ul>
      </div>

      <div class="faq-pic">
        <img
          class="faq-img"
          src="./img/faq-image.png"
          alt="Car with question about game"
        />
      </div>
    </div>
  </div>
</section>
